

.container-1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  border: 1px solid green;
}

.Box-1 {
  flex:1;
  width: 13vw;
  height: 20vw;
  margin: 1px;
}

.Box-2 {
  flex: 1;
  width: 13vw;
  height: 20vw;
  margin: 1px;
}

.Box-3 {
  flex: 1;
  width: 13vw;
  height: 13vw;
  margin: 1px;
}

.header {
  text-align: center;
  color: Darkgreen;
}

h2 { 
  text-align: center;
}


.navigation {
  display: flex;
  flex-flow: nowrap;
  justify-content: flex-start;
}

.navigation a {
  flex: 1;
  text-align: center;
  background-color: beige;
  border: 1px solid green;
  border-style: hidden;
}
 

body {
  font-family: Geneva, Verdana, sans-serif;
  background-color: rgb(222, 222, 191);
  color: black;
}

.card {
  width: 50vw;
  margin: auto;
  border: 2px solid green;
  background-color: rgb(222, 222, 191);
  padding: 8px;
}

a:hover {
  color: green; 
}

.links {
    color:black;
}

.footer {
  border: 1px solid green;
  text-align: center;
  width: 45vw;
}

/* for telephones*/
@media (max-width: 480px) {
  body{ 
    background-color: yellow;
  }
   
}

/* for tablets*/
@media (min-width: 481px) and (max-width: 767px) {
  body{
    background-color: blue;
  }
}

/* for laptops*/
@media (min-width: 1024px) and (max-width: 1250px) {
  body {
   background-color: green;
  }

}

/* for wider monitors*/
@media (min-width: 1281px) {
  body{
    background-color: rgb(222, 222, 191);
  }

}